---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";

const data = await fetch(
  "https://sqqqyffuhusqdvjkshxf.supabase.co/rest/v1/ux_speakers",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxcXF5ZmZ1aHVzcWR2amtzaHhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMzY4MDcsImV4cCI6MjAxMTkxMjgwN30.-K3pBEiuVw9Mv5jbVumfGHI6bYW6POCXvQuTh_bDzMM",
    },
  }
).then((res) => res.json());
---

<Layout>
  <!-- alt det her er det der bliver til <slot /> i Layout.astro -->

  <section class="speakers">
    {
      data.map((speaker) => {
        return <Cards data={speaker} />;
      })
    }
  </section>

  <!-- slot slut -->
</Layout>

<style>
  .speakers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
    margin: 2rem;
    font-family: Mulish;
  }

</style>
