---
import Layout from "../layouts/Layout.astro";
import BuyTickets from "../components/BuyTickets.astro";

---
<Layout>
    <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
    <p>ticket</p>
    <BuyTickets/>
    <!-- slot slut -->

</Layout>