<h1>Tickets for UX Copenhagen 2024</h1>

<article class="grid">
    <section>
        <img class="pic1" src="imagesVol2/ticketforone_1.png" alt="">
    </section>
    <section>
        <img class="pic2" src="imagesVol2/onlineticket_2.png" alt="">
    </section>
    <section>
        <img class="pic3" src="imagesVol2/onlinegroupticket_3.png" alt="">
    </section>
</article>

<p class="ptag">All tickets include main stage stream, and recordings from all stages 1 week after the event for 6 months.</p>


<style>

    h1{
        font-family: montserrat;
        text-align: center;
        font-weight: 700;
        margin-top: 5rem;

    }
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 11rem;
        margin-top: 8rem;
    }

    .pic1, .pic2, .pic3{
        width: 18rem;
    }

    .pic1:hover{
        transform: scale(1.1);
    }

    .pic2:hover{
        transform: scale(1.1);
    }

    .pic3:hover{
        transform: scale(1.1);
    }

    .ptag{
        max-width: 70%;
        text-align: center;
        font-family: mulish;
        margin-top: -8rem;
        color: #686f79

    }
</style>