<footer>
  <ul>
    <p>Follow us</p>
    <p>Contact</p>
    <p>Code of conduct</p>
    <p>Privacy policy</p>
    <p>Newsletter</p>
  </ul>
</footer>

<style>
  footer ul{
    font-family: Mulish;
    display: flex;
    /*border: 1px solid rgb(21, 21, 57);*/
    margin: 1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
    font-weight: 500;

  }

  footer p:hover{
    transform: scale(1.05);
    transition: 1s;

  }

  @media (max-width: 480px) {
    footer ul{
    display: block;
    margin: 1rem;
    margin-top: 5rem;
  }
  }
</style>
