<footer>
  <ul>
    <p>follow us</p>
    <p>contact</p>
    <p>code of conduct</p>
    <p>privacy policy</p>
    <p>newsletter</p>
  </ul>
</footer>

<style>
  footer ul{
    font-family: Mulish;
    display: flex;
    border: 1px solid rgb(21, 21, 57);
    margin: 1rem;
    justify-content: space-evenly;

  }

  footer p:hover{
    transform: scale(1.1);

  }
</style>
