
<section class="rectangle_2">
    <img src="/imagesVol2/trekant_stor.png" alt="rectangle_2" width="2000px" height="1027px"/>
</section>

<article class="element">
  <section class="grid_item_1">
    <div class="image_1">
      <img
        src="/imagesVol2/landing_youtube.webp"
        alt="landing_youtube"
        width="547px"
        height="315px"
      />
    </div>
  </section>

  <section class="grid_item_1">
    <section class="overskrift_2">
      <h1>
        Stay up to date with major design trends & ideas from your home or
        office
      </h1>
    </section>

    <section class="underrubrik">
      <p>
        No need to travel! We bring you all high-quality content from our
        conference directly to your home or office. Check out quality watching
        the talks from last year in our Youtube channel
      </p>
      <a class="link" href="https://www.youtube.com/@UXCopenhagen">Watch on Youtube</a>
    </section>
  </section>
</article>



<style>
  .image_1 {
    /*margin-top: -40rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 10rem;*/
  }

  .rectangle_2 {
    margin-top: 0rem;
  }

  .overskrift_2 {
    color: #3b4f6c;
    font-style: normal;
    margin-bottom: 2rem;
    font-family: montserrat;
    font-size: 2rem;
    margin-top: -3.5rem;
  }

  .underrubrik {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .element {
    font-family: Montserrat;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:;
    margin: 5rem;
    
  }

  p {
    max-width: 100%;
    margin-bottom: 4rem;
  }

  .link{
   color: white;
   padding: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0091ad;
    border-radius: 1rem;
    font-size: medium;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: -0.5rem;
  }
  .grid_item_1 {
    margin-top: -50rem;
  }

  @media (max-width: 480px) {

    .element{
      margin-top: -10rem;
    }
   
    .image_1 img{
      width: 300px;
      height: 175px;
      margin-top: 5rem;
    }

    h1{
      font-size: 17px;
      max-width: 350%;
      margin-left: -19rem;
    }

    p{
      font-size: 13px;
      max-width: 370%;
      margin-top: 15rem;
      margin-left: -19rem;
    }

    .rectangle_2 img{
      width: 550px;
    }

   .link{
  
    }
  }
</style>
