
<section class="rectangle_2">
    <img src="/imagesVol2/trekant_stor.png" alt="rectangle_2" width="2000px" height="1027px"/>
</section>

<article class="element">
  <section class="grid_item_1">
    <div class="image_1">
      <img
        src="/imagesVol2/landing_youtube.webp"
        alt="landing_youtube"
        width="547px"
        height="315px"
      />
    </div>
  </section>

  <section class="grid_item_1">
    <section class="overskrift_2">
      <h1>
        Stay up to date with major design trends & ideas from your home or
        office
      </h1>
    </section>

    <section class="underrubrik">
      <p>
        No need to travel! We bring you all high-quality content from our
        conference directly to your home or office. Check out quality watching
        the talks from last year in our Youtube channel
      </p>
      <a class="link" href="https://www.youtube.com/@UXCopenhagen">Watch on Youtube</a>
    </section>
  </section>
</article>



<style>
  .image_1 {
    /*margin-top: -40rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 10rem;*/
  }

  .rectangle_2 {
    margin-top: 10rem;
  }

  .overskrift_2 {
    color: #3b4f6c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    margin-bottom: 2rem;
  }

  .underrubrik {
  }

  .element {
    font-family: Montserrat;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 
    margin-bottom: 5rem;
    max-width: 100%;
    margin: 5rem;
    
  }

  p {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .link{
   color: white;
   padding: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0091ad;
    border-radius: 1rem;
    font-size: medium;
    margin-top: 2rem;
  }
  .grid_item_1 {
    margin-top: -50rem;
  }
</style>
