<h1>DEGROWTH & CONSUMERISM</h1>


<p class="dato">MARCH 20-21, 2024</p>

<div class="underrubrik">
    <p>The theme for UX Copenhagen 2024 is 'Degrowth and Consumerism'. The conference covers topics such as user experience, content, strategy and research. The conference spans 2 days and features presentations from over 20 local and international speakers, as well as hands-on workshops and networking opportunities. </p>
</div>


<img src="" alt="">