

<div class="rectangle_1">
    <img src="/public/imagesVol2/trekant_lille.png" alt="rectangle_1">
</div>


<div class="overskrift">
    <h1>
        LET’S DISCUSS THE IMPACT OF USER EXPERIENCE
    </h1>

</div>


<div class="underrubik">
    <p>Elevate your brands online precense with an annual UX Conference that takes place in Copenhagen.</p>
</div>

<div class="image">
    <img src="/public/imagesVol2/blue_illustration.webp" alt="illustration">
</div>

<button class="knap">
    <a>see more</a>
</button>



<style>
    
    .overskrift {
        font-family: montserrat;
        display: flex;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 1rem;
        margin-right: 25rem;
        margin-top: -30rem;
        margin-bottom: 1rem;
    }

    .underrubrik {
        margin-left: 100rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
    .image {
        height: 698px;
        width: 472px;
        margin-left: 30rem;
        margin-right: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    .knap {
        background-color: #3c8a9e;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-radius: 5rem;
        margin-left: 30rem;
        margin-right: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }



    .rectangle_1{

    }







</style>
