<h1>DEGROWTH & CONSUMERISM</h1>


<p class="dato">MARCH 20-21, 2024</p>

<div class="underrubrik">
    <p>The theme for UX Copenhagen 2024 is 'Degrowth and Consumerism'. The conference covers topics such as user experience, content, strategy and research. The conference spans 2 days and features presentations from over 20 local and international speakers, as well as hands-on workshops and networking opportunities. </p>
</div>


<div class="image_3">
    <img src="/public/imagesVol2/article_list 1.png" alt="">
</div>



<style>

    .image_3{
        width: 47.125rem;
        height: 37.375rem;
        margin-top: 10rem;
        margin-bottom: 5rem;
        margin-left: 50rem;
        margin-right: 1rem;
    }

    .h1{
        margin-top: 10rem;
        margin-bottom: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }



</style>