

<div class="rectangle_1">
    <img src="/public/imagesVol2/trekant_lille.png" alt="rectangle_1">
</div>


<div class="overskrift">
    <h1>
        LET’S DISCUSS THE IMPACT OF USER EXPERIENCE
    </h1>

</div>


<div class="underrubik">
    <p>Elevate your brands online precense with an annual UX Conference that takes place in Copenhagen.</p>
</div>

<div class="image">
    <img className="blue" alt="Blue" src="/public/imagesVol2/blue_illustration.webp" />
</div>

<div class="knap">
    <p>see more</p>
</div>



<style>
    
.overskrift {
    font-family: montserrat;
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.underrubrik {
    display: flex;
    width: 39.75rem;
    height: 6.5rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.image {
  height: 698px;
  width: 472px;
}

.image .blue {
  height: 698px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 472px;
}

.knap {
    border: 4px solid;
  border-color: #0090ac;  
  border-radius: 9px;
  height: 69px;
  left: 0;
  position: fixed;
  top: 0;
  width: 187px;
   
}

.rectangle_1{

}







</style>
