

<article class="grid_element">
    <section class="grid_item_1">

        <div class="overskrift">
            <h1>DEGROWTH & CONSUMERISM</h1>
        </div>
        
    
        <div class="dato">
            <p>MARCH 20-21, 2024</p>
        </div>
        
        
        <div class="underrubrik">
            <p>The theme for UX Copenhagen 2024 is 'Degrowth and Consumerism'. The conference covers topics such as user experience, content, strategy and research. The conference spans 2 days and features presentations from over 20 local and international speakers, as well as hands-on workshops and networking opportunities. </p>
        </div>

        <div><button class="knap">See more</button></div>

    </section>
    
    <section class="grid_item_2">
        <div class="image_3">
            <img src="/public/imagesVol2/article_list 1.png" alt="">
        </div>
    </section>
</article>









<style>

    .grid_element{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: Montserrat;

    }
    .grid_item_1{
        margin-top: -5rem;
        margin-left: 10rem;

    }

    .dato{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgba;
    }

    .underrubrik{
        color: rgba;
        font-size: 20px;

    }

    .image_3{
        margin-top: -10rem;
        /*width: 47.125rem;
        height: 37.375rem;
        margin-top: 10rem;
        margin-bottom: 5rem;
        margin-left: 50rem;
        margin-right: 1rem;*/
    }

    .overskrift{
        font-size: 2rem;
        margin-bottom: 2rem;
        max-width: 50%;
        margin-right: 20rem;
        /*margin-top: 10rem;
        margin-bottom: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
        font-family: Montserrat;*/
    }


    .knap {
    padding: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0091ad;
    border-radius: 1rem;
    font-size: medium;
    margin-top: 2rem;
    color: white;
    margin-right: 30rem;
  }

</style>