<div class="rectangle_1">
  <img src="/public/imagesVol2/trekant_lille.png" alt="rectangle_1" width="688.28" height="1152.46"/>
</div>

<article class="samlet">
  <section class="grid_item_1">
    <div class="overskrift">
      <h1>LET’S DISCUSS THE IMPACT OF USER EXPERIENCE</h1>
    </div>

    <div class="underrubik">
      <p>
        Elevate your brands online precense with an annual UX Conference that
        takes place in Copenhagen.
      </p>
    </div>

    <div><button class="knap">See more</button></div>
  </section>

  <section class="grid_item_2">
    <div class="image">
      <img src="/public/imagesVol2/blue_illustration.webp" alt="illustration" />
    </div>
  </section>
</article>

<style>
  .overskrift {
    font-size: 3rem;
    /*font-family: montserrat;
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 1rem;
    margin-right: 25rem;
    margin-top: -30rem;
    margin-bottom: 1rem;*/
    margin-bottom: 2rem;
  }

  .underrubrik {
    margin-top: 5rem;
    margin-bottom: 25rem;
    max-width: 100%;
  }
  .image {
  }

  .knap {
    padding: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0091ad;
    border-radius: 1rem;
    font-size: medium;
    margin-top: 2rem;
    color: white;
  }

  .rectangle_1 {
  }

  .samlet {
    font-family: Montserrat;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -70rem;
    margin-left: 20rem;
  }

  @media (max-width: 1250px){
    .overskrift{
      font-size: 1rem;
    }

    .underrubrik{
      max-width: 50%;
    }
    
  }



</style>
