<nav>
  <ul>
    <li>
      <a class="logo" href="/">
        <img src="/imagesVol2/logoUx.png" alt="Logo" />
      </a>
    </li>
    <li>
      <a href="/speakers">Speakers</a>
    </li>
    <li><a href="/program">Program</a></li>
    <li class="itemTicket">
      <a class="getTicket" href="/tickets">Get tickets</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid rgb(21, 21, 57);*/
    margin: 1rem;
    /*justify-content: flex-end;*/
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline-block; /* på linje */
    /*justify-content: space-evenly;*/
    margin: 2rem;
  }
  nav a {
    text-decoration: none;
    font-family: Mulish;
    color: #3b4f6c;
  }
  nav a.getTicket {
    background-color: #0091ad;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
  }

  /*.itemTicket{
    margin-left: 30rem;
    max-width: 1400px;
  }
  */

  /*.middle{
    margin-left: 12rem;
  }
*/
  /*.getTicket a {
    color: white;
  }
  */


/*
  .getTicket:hover {
    transform: scale(1.1);
    transition: 1s;
  }
*/

  
  nav li:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  
  .logo img {
    width: 200px;
    margin-bottom: -1rem;
    /*margin-left: -27rem; /* placering i venstre side */
  }

  /* unvisited link */
  a:link {
    color: #3b4f6c;
  }

  /* visited link */
  a:visited {
    color: #3b4f6c;
  }

  /* mouse over link */
  a:hover {
    color: #6399b7;
  }

  /* selected link */
  /*a:active {
  color:  #9c6286;
} */

  @media (max-width: 480px) {
    nav li {
      display: block;
      margin: 1rem;
      line-height: 2.5;
    }

    nav a.getTicket {
    padding: 1rem;
    margin-left: 0rem;
    border-radius: 1rem;

  }
}

  
</style>


