<nav>
  <ul>
    <li>
      <a class="logo" href="/">
        <img src="/imagesVol2/logoUx.png" alt="Logo" />
      </a>
    </li>
    <li>
      <a href="/speakers">Speakers</a>
    </li>
    <li><a href="/program">Program</a></li>
    <li class="itemTicket">
        <a class="getTicket" href="/tickets">Get tickets</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid rgb(21, 21, 57);*/
    margin: 1rem;
    /*justify-content: flex-end;*/
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline-block; /* på linje */
    /*justify-content: space-evenly;*/
    margin: 2rem;
  }
  nav a {
    text-decoration: none;
    font-family: Mulish;
    color: #3B4F6C;
  }
  nav a.getTicket {
    background-color: #3c8a9e;
    padding: 1.2rem;
    border-radius: 5rem;
    color: white;
  }

  /*.itemTicket{
    margin-left: 30rem;
    max-width: 1400px;
  }
  */

  /*.middle{
    margin-left: 12rem;
  }
*/
  /*.getTicket a {
    color: white;
  }
  */

  /*

  .getTicket:hover {
    transform: scale(1.1);
  }
*/

/*
  nav li:hover {
    transform: scale(1.1);
  }

  */
  .logo img {
    width: 200px;
    margin-bottom: -1rem;
    /*margin-left: -27rem; /* placering i venstre side */
  }

   /* unvisited link */
a:link {
  color: #3B4F6C;
}

/* visited link */
a:visited {
  color: #3B4F6C;
}

/* mouse over link */
a:hover {
  color: #6399b7;
}

/* selected link */
/*a:active {
  color:  #9c6286;
} */
</style>
