<nav>
  <ul>
    <li>
      <a class="logo" href="/">
        <img src="public/imagesVol2/logoUx.png" alt="Logo" />
      </a>
    </li>
    <li><a href="/speakers">Speakers</a></li>
    <li><a href="/program">Program</a></li>
    <li>
      <div class="getTicket"><a href="/program">Get tickets</a></div>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    /*border: 1px solid rgb(21, 21, 57);*/
    margin: 1rem;
    justify-content: flex-end;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline-block; /* på linje */
    justify-content: space-evenly;
    margin: 2rem;
  }

  nav a {
    text-decoration: none;
    font-family: Mulish;
    color: rgb(0, 0, 0);
  }

  .getTicket {
    background-color: #3c8a9e;
    padding: 1.2rem;
    border-radius: 5rem;
  }

  .getTicket a {
    color: white;
  }

  .getTicket:hover {
    transform: scale(1.1);
  }

  nav li:hover {
    transform: scale(1.1);
  }

  .logo img{
    width: 200px;
    margin-bottom: -1rem;
  }
</style>
