<article class="newsletter">
  <div class="container">
    <h2 class="p1">Join UX Copenhagens newsletter</h2>
    <p class="p2">
      Join our mailing list to keep up to date on events, reports, communinity
      and certifications.
    </p>
    <p class="p3">You will get an e-mail with your verification!</p>
    <label class="form"> E-mail <input type="email" name="email" /></label>
    <div class="submit">Submit</div>
  </div>
</article>

<style>
  .newsletter {
    background-image: url(../images/Rectangle_nyhedsbrev.svg);
    font-family: Mulish;
    margin: -1rem; /* minus så det fylder hele siden */
  }

  .container {
    padding: 10rem; /* så der er mere baggrund med */
    /*margin-left: 10rem;*/
  }

  .p1,
  .p2,
  .p3,
  .form,
  .submit {
    color: white;
  }

  .submit {
    padding: 1.2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .submit:hover {
    transform: scale(1.1);
  }
</style>
