<article class="newsletter">
  <div class="container">
    <h2 class="p1">Join UX Copenhagens newsletter</h2>
    <p class="p2">
      Join our mailing list to keep up to date on events, reports, communinity
      and certifications.
    </p>
    <p class="p3">You will get an e-mail with your verification!</p>
    <label class="form"> E-mail <input type="email" name="email" /></label>
    <div><button class="submit">Submit</button></div>
  </div>
</article>

<style>
  .newsletter {
    background-image: url(../images/Rectangle_nyhedsbrev.svg);
    font-family: Mulish;
    margin: -1rem; /* minus så det fylder hele siden */
    line-height: 10rem; /* space imellem hvert element */
  }

  .container {
    padding: 2rem; /* så der er mere baggrund med. juster på denne hvis et "nyt billede" begynder */
    /*margin-left: 20rem; har brugt denne hvis text align ikke har virket */
    text-align: center;
  }

  .p1,
  .p2,
  .p3,
  .form,
  .submit {
    color: white;
  }

  .p1 {
    text-shadow: 2px 4px 4px #0091ad;
  }
  .p1,
  .p2,
  .p3 {
    max-width: 100%; /* Overskriver max-widtg 40% i global */
  }
  .submit {
    padding: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0091ad;
    border-radius: 1rem;
    font-size: medium;
  }
  .submit:hover {
    transform: scale(1.1);
  }
</style>
