<article class="topText">
  <h1 class="header">Schedule 2024</h1>
  <p class="text">
    Explore the develeopment and challenges in the UX industry as a perceived
    and experienced by UX professionals of different backgrounds and
    specialitied.
  </p>
</article>

<img class="topPic" src="/imagesVol2/landing_foto.webp" alt="" />

<article class="box">
  <section class="gridItem">
    <p class="day1">March 20 - Day 1</p>
    <p class="day2">March 21 - Day 2</p>
  </section>
</article>

<style>
  .topText {
    font-family: montserrat;
    max-width: 50%;
    margin: 2rem;
  }

  .header {
    margin: 5rem;
    font-size: 3rem;
  }

  .text {
    margin: 5rem;
  }

  .topPic {
    width: 1000px;
    margin-top: -22rem;
    margin-left: 28rem;
  }

  .box {
    border: 1px solid rgb(21, 21, 57);
    border-radius: 5rem;
    width: 45rem;
    margin-top: -2rem;
    margin-bottom: 10rem; /* afstand fra box til programmet */
    padding: 0rem;
    margin-left: 20rem;
  }

  .gridItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: mulish;
  }

  .day1 {
    width: 15rem;
    border-radius: 5rem;
    background-color: #3c8a9e;
    margin-left: 5rem;
    padding: 1.9rem;
    color: white;
    text-align: center;
  }

  .day2 {
    padding: 2rem;
    text-align: center;
  }

  .day1:hover {
    background-color: #ffffff;
    color: #3B4F6C;
  }

  /*
  .day2:hover {
    background-color: #3c8a9e;
    color: #ffffff;
    border-radius: 5rem;
  }
  
  */
</style>
