<article class="schedule">
  <div class="gridItem1">
    <section>
      <p class="time">9:30 – 9:40</p>
    </section>
    <section>
      <h2 class="overskrift">Welcome by Helle Martens</h2>
    </section>
  </div>

  <div class="gridItem2">
    <section>
      <p class="time">9:40 – 10:10</p>
    </section>
    <section>
      <h2 class="overskrift">Ethical Design by Mansi Gupta</h2>
      <p class="beskrivelse">
        A talk about Ethical Design, and the many ways it can be incorporated
        into the work process.
      </p>
    </section>
  </div>

  <div class="gridItem1">
    <section>
      <p class="time">10:10 – 10:40</p>
    </section>
    <section>
      <h2 class="overskrift">
        A Systems Thinking Approach to Designer Ethics by Laura Yarrow
      </h2>
      <p class="beskrivelse">
        What is Systems Thinking, and how can we use this approach to understand
        the impact we have as designers on society and the world.
      </p>
    </section>
  </div>

  <div class="gridItem2">
    <section>
      <p class="time">10:40 – 12:00</p>
    </section>
    <section>
      <h2 class="overskrift">
        The Cynic’s Guide to Designing For Social Good by Rebecca Rae-Evans
      </h2>
      <p class="beskrivelse">
        This talk is all about what not to do when designing for social good.
        What works, what doesn’t work, and what makes Rebecca scream into a
        pillow with rage at the end of the working day.
      </p>
    </section>
  </div>

  <div class="gridItem1">
    <section>
      <p class="time">12:00 – 13:00</p>
    </section>
    <section>
      <h2 class="overskrift">Lunch break</h2>
    </section>
  </div>

  <div class="gridItem2">
    <section>
      <p class="time">13:00 – 17:00</p>
    </section>
    <section>
      <h2 class="overskrift">
        Discussing Influence and Designing For Good by Don Norman
      </h2>
      <p class="beskrivelse">
        We invite you to join us for an interactive discussion about the theme,
        Influence and Designing For Good, with Don Norman
      </p>
    </section>
  </div>
</article>

<style>
  .gridItem1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 0rem;
    /*border: 1px solid rgb(21, 21, 57);*/
    background-color:#c2dfe5;
    padding: 3rem;

}

.gridItem2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 0rem;
    /*border: 1px solid rgb(21, 21, 57);*/
    background-color: #e4fafe;
    padding: 3rem;

}

  .time {
    font-family: mulish;
    font-weight: 700;
    max-width: 100%;
  }

  .overskrift {
    font-family: mulish;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
  }

  .beskrivelse {
    font-family: mulish;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;




  }
</style>
