<article class="TopImage">
  <section class="col1">
    <img class="Image1" src="/imagesVol2/logo_blue.png" alt="" />
  </section>
  <section class="col2">
    <img class="Image2" src="/imagesVol2/preview_foto.webp" alt="" />
  </section>
</article>

<article>
<p class="TopP">
  Costantly learning and pusing boundaries to bring uniqie perspectives. Our
  speakers are local and international leading experts in the field of user
  experience, UI, interaction design and human behavior.
</p>
</article>

<article class="TopDescription">
  <p class="date">MARCH 20-21, 2024</p>
  <h2 class="overview">Speakers 2023</h2>
  <p class="description">
    Meet the experts behind the most impactful projects in the conference
    lineup.
  </p>
</article>

<style>
  .TopImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col1 {
    margin-top: 8rem;
  }

  .col2 {
    justify-content: flex-end;
    margin-left: 10rem;
    margin-top: -0.5rem;
  }

  .Image1 {
    width: 300px;
    margin-left: 5rem;
    margin-top: -5rem;
  }

  .Image2 {
    width: 800px;
  }

  .TopP {
    font-family: montserrat;
    font-size: large;
    max-width: 45%;
    margin-left: 5rem;
    margin-top: -7rem;
    line-height: 1.8;
    margin-bottom: 9rem;
  }

  .TopDescription{
    margin-top: 5rem;
    line-height: 2;
  }

  .date, .overview, .description{
    margin-left: 5rem;
    font-family: montserrat;
  }

  .overview{
    font-size: 2rem;
  }
</style>
