<article class="TicketArticle">
  <h2>Tickets</h2>
  <p>
    Choose to attend only for the conference, or join the day before for a day
    of learning in smaller groups.
  </p>
  <a class="TicketButton" href="">Get Ticket</a>
</article>

<style>
  .TicketArticle {
    font-family: mulish;
    justify-content: center;
    text-align: center;
  }


  .TicketButton {
    padding: 1.1rem;
    border: 2px solid #ffffff;
    background-color: #0091ad;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: medium;
    color: rgb(255, 255, 255);
  }

  .TicketButton:hover {
    transform: scale(1.1);
  }
</style>
