<article class="TicketArticle">
  <h2>Tickets</h2>
  <p>
    Choose to attend only for the conference, or join the day before for a day
    of learning in smaller groups.
  </p>
  <a class="TicketButton" href="/tickets">Get Ticket</a>
</article>

<style>
  .TicketArticle {
    font-family: mulish;
    justify-content: center;
    text-align: center;
    line-height: 10rem; /* space imellem hvert element */
    margin-top: 10rem;
  }


  .TicketButton {
    padding: 1.1rem;
    border: 2px solid #ffffff;
    background-color: #0091ad;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: medium;
    color: rgb(255, 255, 255);
  }

  .TicketButton:hover {
    transform: scale(1.1);
  }


  @media (max-width: 480px) {
    .TicketArticle{
      margin-top: -1rem;

    }
    h2{
      text-align: left;
      margin-left: 5rem;
    }

    p{
      text-align: left;
      margin-left: 5rem;
      max-width: 70%; 
      font-size: 15px;

    }

    .TicketButton{
      margin-left: -13rem;
      padding: 1rem;
    }
   
  }
</style>
