body{
    /*hele sitet kan maks ses i 1450px*/
    max-width: 1450px;
    margin:auto;
}

h1, h2, h3, p{
    color: #3B4F6C;
    line-height: 1.5;    
}

h2{
    font-size: xx-large;

}

h3{
    font-weight: 500;
    font-style: italic;
    font-size: medium;
}

p{
    line-height: 1.5;
    /*max-width: 40rem;*/
}

a{
    text-decoration: none;

}