---
import "../global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- insæt google font 'muslish' -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Mulish&display=swap"
      rel="stylesheet"
    />
    <!-- insæt google font 'montserrat' -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat&family=Mulish&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <Nav />
    <slot />
    <!-- slot er alt indhold fra pages -->
    <Footer />
  </body>
</html>
